.todo__add {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.todo__add-input {
  border: none;
  border-bottom: dotted 1px #ccc;
  font-size: 1.8em;
  outline: none;
  padding: 5px;
  width: 100%;
}

.todo__add-input::placeholder {
  color: #ccc;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
  .todo__add {
    background-color: #fff;
    left: 0;
    margin: 0;
    padding: 0.5em;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .todo__add-input {
    font-size: 1.4em;
  }
}
