.todo__filter {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  justify-content: flex-end;
  list-style-type: none;
  margin: 20px 0px 20px 0px;
}

.todo__filter li {
  margin-left: 10px;
}

.todo__filter label {
  cursor: pointer;
}

.todo__filter [type=radio] {
  display: none;
}

.todo__filter [type=radio]:not(:checked) + label {
  color: #d2d2d2;
}

.todo__filter-input {
  font-size: 1em;
}

.todo__filter-input::placeholder {
  color: var(--filter-input-placeholder-color);
}
