.todo__filter {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: flex-end;
  list-style-type: none;
  margin: 2em 0 2em 0;
}

@media (-moz-touch-enabled: 1), (pointer:coarse) {
  .todo__filter {
    background-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    font-size: 0.9em;
    left: 0;
    margin: 0;
    padding: 20px;
    position: fixed;
    right: 0;
  }
}

.todo__filter li {
  margin-left: 10px;
}

.todo__filter label {
  cursor: pointer;
}

.todo__filter [type=radio] {
  display: none;
}

.todo__filter [type=radio]:not(:checked) + label {
  color: #d2d2d2;
}

.todo__filter-input {
  position: relative;
}

.todo__filter-clear-button {
  background-color: transparent;
  border: none;
  color: #ccc;
  content: '✖';
  cursor: pointer;
  display: block;
  font-size: 1em;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}

input:not(:empty) + .todo__filter-clear-button {
  display: block;
}

.todo__filter-input input {
  border: none;
  border-bottom: dotted 1px #ccc;  
  font-size: 1em;
  outline: none;
}

.todo__filter-input input::placeholder {
  color: var(--filter-input-placeholder-color);
}
