@keyframes pulse {
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

.todo__item, .todo__item--done {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
  user-select: none;
  width: 100%;
}

.todo__item--done .todo__item-content {
  color: var(--item-done-text-color);
  text-decoration: line-through;
}

.todo__item label {
  align-items: center;
  box-shadow: 0 0 4px #777;
  display: flex;
  justify-content: space-around;

  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 1.3em;
  margin-right: 0.4em;
  width: 1.3em;
}

@media (-moz-touch-enabled: 0), (pointer: fine) {
  .todo__item:hover label:before {
    animation: pulse 1s ease-in-out 0s infinite;
    display: block;
    content: '';
    color: var(--item-input-text-color);
    border-radius: 50%;
    background-color: white;
    width: 0.3em;
    height: 0.3em;
    font-size: 2em;
  }
}
.todo__item--done label:before {
  display: block;
  content: '';
  color: var(--item-input-text-color);
  border-radius: 50%;
  background-color: white;
  width: 0.3em;
  height: 0.3em;
  font-size: 2em;
}

.todo__item-content {
  flex-grow: 1;
  padding-left: 0.3em;
}

.todo__item-delete-btn {
  background: url(trash.svg) no-repeat center;
  background-size: cover;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 1.4em;
  height: 0.8em;
  opacity: 0.3;
  outline: none;
  transition: opacity 100ms ease-in;
  width: 0.8em;
}

@media (-moz-touch-enabled: 0), (pointer:fine) {
  .todo__item-delete-btn {
    opacity: 0;
  }
}

.todo__item:hover .todo__item-delete-btn {
  opacity: 1;
}


.todo__item-content input[type=checkbox] {
  display: none;
}

.todo__item-content input[type=text] {
  border: none;
  color: var(--item-input-text-color);
  flex-grow: 1;
  font-size: 1em;
  width: 100%;
}

.todo__item-content input[type=text]:focus {
  outline: none;
  border-bottom: dotted 1px #ccc;
}
