.todo__item, .todo__item--done {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
  transition: background-color 200ms ease-in-out;
  user-select: none;
}

.todo__item--done {
  color: lightgray;
  text-decoration: line-through;
}

.todo__item:hover {
  background: #efefef;
}

.todo__item-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 20px;
}

.todo__item-content label {
  cursor: inherit;
  display: block;
  width: 100%;
}

.todo__item-delete-btn {
  border: solid 1px lightblue;
  cursor: pointer;
  font-size: 0.7em;
  opacity: 0;
  padding: 10px;
  transform: translateX(100px);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in;
}

.todo__item-checkbox {
  display: none;
}

.todo__item:hover .todo__item-delete-btn {
  opacity: 1;
  transform: translateX(0);
}