.todo__item, .todo__item--done {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo__item--done {
  color: lightgray;
  text-decoration: line-through;
}

.todo__item-content {
  flex-grow: 1;
  padding-left: 20px;
}

.todo__item-content label {
  cursor: inherit;
  display: block;
  width: 100%;
}

.todo__item-delete-btn {
  font-size: 0.7em;
}
