ul, li {
  list-style-type: none;
}

.todo__list {
  flex-grow: 1;
  margin: 0;
  padding-left: 10px;
}

.todo__list li {
  display: block;
  margin-bottom: 1em;
}

.todo__list-item {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;  
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
  .todo__list {
    padding: 4em 0.4em 3em 0.4em;
  }
}

.todo__drag-handle {
  color: #ccc;
  cursor: ns-resize;
  margin-right: 0.6em;
}